<!DOCTYPE html>
<html>
  <head>
    <title>FilmFashionista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- ナビゲーションメニュー -->
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand text-dark" href="#">Screen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link text-dark" href="http://localhost:3000/" >Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-dark" href="#skill">Category</a>
                <a class="nav-link text-dark" href="#works">Handmade</a>
                <a class="nav-link text-dark" href="#contact">Contact</a>
            </div>
        </div>
    </nav>
    <%= yield %>
  <!-- フッター -->
    <footer class="text-center bg-dark text-white">
        <p class="py-3">© FILM FASHIONISTA</p>
    </footer>
  </body>
</html>
